<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <!-- javascript -->
    <!-- css -->
</head>

<body>
    <h1> Login Below </h1>
    <form name="input" method="POST" action="register">
        Username <input type="text" name="user" placeholder="Username"><br>
        Password <input type="password" name="pass" placeholder = "Password">
        Retype Password <input type="password" name="pass2" placeholder = "Password">
        <input type="submit" name="submit" value="Sumbit"><br>
    </form>
    {{ specialMessage }}

</body>

</html>
